/* STYLING TABLES */

/* DEFAULT STYLES 

Before we style the table, check out the default styling being applied. 
Open the page in several browsers - are the styles consistent across browsers? 

*/

/* SPACING & LAYOUT */

table {
    table-layout:fixed; 
    width: 100%; 
    border-collapse: collapse;
    border: 2px solid #F2f1f1; 
    font-size: 14px; 
}

thead th:nth-child(1) {
    width: 40%; 
}

thead th:nth-child(2) {
    width: 20%; 
}

thead th:nth-child(3) {
    width: 40%; 
}

th, 
td {
    padding: 15px; 
}

thead th {
    text-align:left; 
    font-size: 16px; 
}

tbody tr td:nth-of-type(2),
tbody tr td:nth-of-type(3){
    text-align:center; 
}

tfoot td {
    font-size: 12px; 
    font-style: italics; 
}

/* Zebra Striping */ 

tbody tr:nth-child(odd){
    background-color:#F2f1f1; 
}


















/* TABLE TYPOGRAPHY  & APPEARANCE */



/* Adapted from https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Styling_tables */



