.container {
    width: 90%;
    margin: 0 auto;
    background-color: #EC5A96;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

/* A Comment Looks Like This */

/*simple text styling */

h1 {
    font-size: 100px;
    text-align: center;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}


/*layout */

main {
    display: flex;
    align-items:center; 
    justify-items: center; 
}

/* animations */

@keyframes appear {

    0% {
        opacity: 0%; 
    }

    25% {
        opacity: 25%; 
    }
    50% {
        opacity: 50%; 
    }

    75% {
        opacity: 75%; 
    }

    100% {
        opacity: 100%; 
    }
}

h1 {
    animation-name: appear; 
    animation-duration: 6s; 
}

